.container{
    width: 100%;
    height: max-content;
    background-image: url(./image/anna-kolosyuk-lAdi_PIpUa8-unsplash.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.563);
    border-radius: 10px;
    color: white;
    margin-bottom: 50px;
}
form input{
    width: 50%;
    outline: none;
    border: none;
    border-radius: 3px;
}
form button{
    width: 20%;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    outline: 1px solid rgb(255, 255, 255);
}
@media screen and (max-width: 1024px) {
    form {
            width: 100%;
            margin-left: 2px;
            margin-top: 10%;
        }
    
        form input {
            width: 50%;
        }
    
        form textarea {
            width: 50%;
        }
}
@media screen and (max-width: 769px) {
    form {
        width: 100%;
        margin-left: 2px;
        margin-top: 13%;
    }
    
    form input {
        width: 50%;
    }
    
    form textarea {
        width: 50%;
    }
}
@media screen and (max-width: 426px){
    form {
        width: 100%;
        margin-left: 2px;
        margin-top: 25%;
    }

    form input {
        width: 90%;
    }

    form textarea {
        width: 90%;
    }
}
@media screen and (max-width: 376px){
    form {
        width: 100%;
        margin-left: 2px;
        margin-top: 25%;
    }

    form input {
        width: 90%;
    }

    form textarea {
        width: 90%;
    }
}
@media screen and (max-width: 320px) {
   form{
    width: 100%;
    margin-left: 2px;
    margin-top: 31%;
   } 
   form input{
    width: 90%;
   }
   form textarea{
    width: 90%;
   }
}
